{#
/**
* @file
* A11Y Paragraphs Tab Wrapper paragraph template.
*
* Available variables:
* - paragraph: Full paragraph entity.
* Only method names starting with "get", "has", or "is" and a few common
* methods such as "id", "label", and "bundle" are available. For example:
* - paragraph.getCreatedTime() will return the paragraph creation timestamp.
* - paragraph.id(): The paragraph ID.
* - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
* - paragraph.getOwnerId(): The user ID of the paragraph author.
* See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
* and methods for the paragraph object.
* - content: All paragraph items. Use {{ content }} to print them all,
* or print a subset such as {{ content.field_example }}. Use
* {{ content|without('field_example') }} to temporarily suppress the printing
* of a given child element.
* - content.field_a11y_para_tabs_sec_title: Formatted Text field used for the Section Title.
* - content.field_a11y_para_tabs_tabs_panel: Paragraph Reference Field used to reference the Tabs Panel paragraph.
* - content.field_a11y_para_tabs_tab_title: Formatted Text field used for the Tab panel Title.
* - content.field_a11y_para_tabs_tab_content: Paragraph Reference Field used to reference the Tab Content paragraph.
* - content.field_a11y_para_tabs_text_area: Text Formatted Long field used for adding text.
* - attributes: HTML attributes for the containing element.
* The attributes.class element may contain one or more of the following
* classes:
* - paragraphs: The current template type (also known as a "theming hook").
* - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
* "Image" it would result in "paragraphs--type--image". Note that the machine
* name will often be in a short form of the human readable label.
* - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
* preview would result in: "paragraphs--view-mode--preview", and
* default: "paragraphs--view-mode--default".
* - view_mode: View mode; for example, "preview" or "full".
* - logged_in: Flag for authenticated user status. Will be true when the
* current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
* is an administrator.
*
*/
#}

{% block paragraph %}
{% block content %}
{# Loops through the tab sections again to print the tab section bodies. #}
{% if content.field_type_liste_enrichie.0["#markup"] == "avec description" %}
    <div id="ancre-{{paragraph.id.value}}"  class="paragraph paragraph--liste_enrichie reveal p-50 paragraph--view-mode--default fond fond-{{ paragraph.field_fond.value }}">
        <div class="container position-relative">
            <div class="field--name-field-entete-bloc">
                {{ content.field_entete }}
            </div>
            <div class="item-list row">
              {% for key, item in content.field_liste if key|first != '#' %}
                        <div class="list-with-description">
                            <div id="ancre-{{paragraph.id.value}}" class="paragraph paragraph-box coin-2 p-3 paragraph--type--liste-item paragraph--view-mode--default container">
                                <div class="row">
                                    <div class="col-1 picto-enrichie">
                                        {{ item["#paragraph"].fields.field_picto | view }}
                                    </div>
                                    <div class="col-10 ms-3">
                                        <p class="h5">{{ item["#paragraph"].fields.field_texte_b.0.value }}</p>
                                        <div class="ps-3">{{ item["#paragraph"].fields.field_complement | view }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                {#{ content.field_liste }#}
            </div>
            {{ content.field_footer }}
        </div>
    </div>
{% else %}
    <div id="ancre-{{paragraph.id.value}}"  class="paragraph paragraph--liste_enrichie reveal p-50 paragraph--view-mode--default fond fond-{{ paragraph.field_fond.value }}">
        <div class="container position-relative">
        <div class="field--name-field-entete-bloc">
            {{ content.field_entete }}
        </div>
            <div class="item-list row carrousel-1-4">
              {% for key, item in content.field_liste if key|first != '#' %}
                        <div class="field box paragraph_bg box-picto col-3">
                           {{ item }}
                        </div>
                {% endfor %}
            
                {#{ content.field_liste }#}
            </div>
            <div class="carousel-1-4-navigation-controls  text-center"></div>
             
            {{ content.field_footer }}
        </div>
    </div>
{% endif %}

{% endblock %}
{% endblock paragraph %}